* {
    font-family: "Lato", sans-serif;
}
.container {
    width: 100%;
    text-align: center;
}
.search_bar {
    display: block;
    margin: 64px auto 72px auto;
    width: 320px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
}
.card {
    display: inline-block;
    margin: 16px;
    border-radius: 4px;
    border: 1px solid grey;
    width: 254px;
    text-align: left;
    font-size: 12px;
    vertical-align: top;
}
.card_top {
    background: #273c53;
    color: white;
    padding: 4px 8px 4px 8px;
    display: table;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
}
.card_top_left {
    vertical-align: middle;
    display: table-cell;
}
.card_top_right {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    text-align: right;
}
.card_bottom {
    padding: 8px;
    line-height: 18px;
}
.name {
    font-size: 16px;
    margin-bottom: 4px;
    line-height: 24px;
}
.group {
    height: 18px;
    border-radius: 9px;
    background: #d8d8d8;
    display: inline-block;
    margin: 8px 8px 0 0;
    padding: 0 9px 0 9px;
}
